/Brawlhalla.url
/brevoEmail
/citasNgrok.txt
/Claude.lnk
/CodeStrike.url
/Custom Cursor Website.url
/DBeaver.lnk
/desktop.ini
/Discord.lnk
/Docker Desktop.lnk
/Dropbox.lnk
/MiniPassword.txt
/NVIDIA GeForce NOW.lnk
/office
/Outlast.url
/piedra-papel-tijera.html
/PlantillaMensaje.txt
/plutonium.exe
/powetBIClass.txt
/Proton Drive.lnk
/Proton Mail.lnk
/Proton Pass.lnk
/README-MCP.md
/Stream
/supaDate.txt
/Trabajo - Brave.lnk
/Visual Studio Code.lnk
/Warp.lnk
/WO Mic Client.lnk
/Zoom Workplace.lnk